<header>
    <div class="back-home">
        <a routerLink="/">
            <span class="material-icons-sharp">arrow_back</span>
            <p>BACK</p>
        </a>
    </div>
    <div class="my-logo">
        <a routerLink="/"><h2><span>GET</span>-KICKS</h2></a>
    </div>
</header>

<div class="container">
    <div class="login-form">
        <form action="" (ngSubmit)="submitForm()">
            <h2>LOG IN</h2>
            
            <p>USERNAME</p>
            <input type="text" placeholder="Username" name='loginUsername' [(ngModel)] = 'loginUsername' #usernameInput = 'ngModel' required>
            <div class="error-message" *ngIf="usernameInput.invalid && usernameInput.touched">
                <p>Please enter your username</p>
            </div>
            
            <p>PASSWORD</p>
            <input type="password" placeholder="Password" name='loginPassword' [(ngModel)] = 'loginPassword' required>
            
            <button>LOG IN</button>
            
            <p id="forgot">Forgot Password?</p>
        </form>
    </div>
</div>