<div class="container">
    <div class="my-logo">
        <a routerLink="/"><h2><span>GET</span>-KICKS</h2></a>
    </div>
    
    <div class="login-form">
        <form action="">

            <h2>LOGIN</h2>
        
            <p>EMAIL:</p>
            <input type="email" placeholder="Email">
        
            <p>PASSWORD:</p>
            <input type="password" placeholder="Password">
        
            <button>LOGIN</button>
        
            <p id="forgot">Forgot Password?</p>
        </form>
    </div>    
</div>