<app-header></app-header>
<div class="container">
    <div class="left">
        <h2>Cart</h2>
        
        <div class="product-container">
            <div class="product-img">
                <img src="../assets/img/collection-7.png" alt="">
            </div>
            <div class="product-desc">
                <h4>Nike Dunk High Retro</h4>
                <p>$195.00</p>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="receipt">
            <div class="receipt-header">
                <h4>Order Summary</h4>
            </div>

            <ul>
                <li>Sub-Total</li>
                <li>Discount</li>
                <li>Tax</li>
                <li>Shipping</li>
                <li>Total</li>
            </ul>

            <button>Proceed to checkout</button>

            <p class="delivery-tag">Estimated time of delivery</p>
        </div>
    </div>
</div>


