<!-- <h2>PRODUCTS</h2> -->

<div class="products-container">
    <div class="product-frame" *ngFor = 'let product of products'>
        <div class="product-img">
            <img src="{{product.image}}" alt="">
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>{{product.name}}</h4> 
                <p>{{product.price}}</p>
            </div>
            <div class="product-actions">
                <span class="material-symbols-sharp" (click)="toggleActions(product)">{{ product.added ? 'check' : 'add'}}</span>
            </div>
        </div>
    </div>
</div>