<!-- <h2>PRODUCTS</h2> -->

<div class="products-container">
    <div class="product-frame">
        <div class="product-img">
            <img src="assets/img/collection-7.png" alt="">
            <i class="bi bi-heart"></i>
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>Nike Dunk High Retro</h4>
                <p>$195.00</p>
            </div>
            <div class="add-to-cart">
                <button><h5>Add to cart</h5></button>
            </div>
        </div>
    </div>
    <div class="product-frame">
        <div class="product-img">
            <img src="assets/img/collection-3.png" alt="">
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>Nike City Rep</h4>
                <p>$200.00</p>
            </div>
            <div class="add-to-cart">
                <button><h5>Add to cart</h5></button>
            </div>
        </div>
    </div>
    <div class="product-frame">
        <div class="product-img">
            <img src="assets/img/collection-2.png" alt="">
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>Nike Air Max Pulse</h4>
                <p>$84.00</p>
            </div>
            <div class="add-to-cart">
               <button><h5>Add to cart</h5></button>
            </div>
        </div>
    </div>
    <div class="product-frame">
        <div class="product-img">
            <img src="assets/img/collection-9.png" alt="">
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>Nike Pegasus FlyEase</h4>
                <p>$60.00</p>
            </div>
            <div class="add-to-cart">
                <button><h5>Add to cart</h5></button>
            </div>
        </div>
    </div>
</div>