<!-- <h2>PRODUCTS</h2> -->

<div class="products-container">
    <div class="product-frame" *ngFor = 'let product of products'>
        <div class="product-img">
            <img src="{{product.productImage}}" alt="">
        </div>
        <div class="product-info">
            <div class="product-title">
                <h4>{{product.productName}}</h4> 
                <p>{{product.productPrice}}</p>
            </div>
            <div class="add-to-cart">
                <span><i (click)="toggleHeart(product)" *ngIf="product.isHeartClicked" class="bi bi-check-lg"></i></span>
                <span><i (click)="toggleHeart(product)" *ngIf="!product.isHeartClicked" class="bi bi-plus-lg"></i></span>
            </div>
        </div>
    </div>
</div>