<app-header></app-header>
<section class="home-hero">
    <div class="hero-info">
        <h2><span>GET</span> LIMITED SNEAKERS <br> WITHOUT LIMITATION</h2>
        <p class="hero-info-p">Discover the perfect blend of fashion & function as you explore 
            our diverse range of sneakers that cater to every taste & 
            occasion. Step into a world of style & comfort with our premium 
            sneaker collection. Shop now and experience footwear 
            excellence like never before!
        </p>
    </div>
    <div class="hero-img">
        <div class="img-background">
            <div class="sale-banner">
                <h3>40% OFF</h3>
            </div>
            <img src="assets/img/collection-2.png" alt="">
            <div class="img-info">
                <h4>Nike Air Max Pulse</h4>
                <a  href="">Add to Cart</a>
            </div>
        </div>
    </div>
</section>

<app-section-banner></app-section-banner>

<app-products id="productSect"></app-products>
