<header>
    <div class="my-logo">
        <a routerLink="/"><h2><span>GET</span>-KICKS</h2></a>
    </div>

    <nav>
        <ul>
            <li><a class="active" href="">HOME</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">CART</a></li>
        </ul>
    </nav>

    <div class="access-buttons">
        <a href="" routerLink="/Login">LOGIN</a>
        <a class="register-button"  href="" routerLink="Register">REGISTER</a>
    </div>
</header>


<section class="home-hero">
    <div class="hero-info">
        <h2><span>GET</span> LIMITED SNEAKERS <br> WITHOUT LIMITATION</h2>
        <p>Discover the perfect blend of fashion & function as you explore 
            our diverse range of sneakers that cater to every taste & 
            occasion. Step into a world of style & comfort with our premium 
            sneaker collection. Shop now and experience footwear 
            excellence like never before!
        </p>
        <div class="shop-now">
            <a  href="">Our Products</a>
        </div>
    </div>
    <div class="hero-img">
        <div class="img-background">
            <div class="sale-banner">
                <h3>40% OFF</h3>
            </div>
            <img src="assets/img/collection-2.png" alt="">
            <div class="img-info">
                <h4>Nike Air Max</h4>
                <a  href="">Shop now </a>
            </div>
        </div>
    </div>
</section>

<app-section-banner></app-section-banner>
