<div class="marquee-banner">
    <div class="banner-content">
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
    </div>

    <div class="banner-content">
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
        <h2><span>GET</span>-KICKS</h2>
    </div>
</div>


